.px-lg {
    padding-inline: var(--px-lg);
}

.py-base {
    padding-block: var(--py-base);
}

.py-md {
    padding-block: var(--py-md);
}

.py-lg {
    padding-block: var(--py-lg);
}

.container {
    --max-width: 360px;
    width: min(var(--max-width), 100% - var(--px-lg) * 2); /* subtract lateral padding from both sides */
    margin-inline: auto; /* center container */
}

.container-header {
    --max-width: 360px;
    width: min(var(--max-width), 100%); /* subtract lateral padding from both sides */
    margin-inline: auto; /* center container */
}

.desktop-only {
    display: none;
}

/* make one above the other on mobile */
.even-columns {
    display: grid;
    gap: 1rem;
}

.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
    place-content: space-between;
}

.justify-end {
    justify-content: end;
}

.align-center {
    align-items: center;
    align-content: center;
}

.gap-05 {
    gap: .5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.grid {
    display: grid;
}

.grid-gap {
    gap: var(--grid-gap);
}

.items-center {
    place-items: center;
}

.profile-image-small {
    width: var(--img-sm);
    height: var(--img-sm);
    border-radius: 50%;
    object-fit: cover;
}

.profile-image-large {
    width: var(--img-lg);
    height: var(--img-lg);
    border-radius: 50%;
    object-fit: cover;
}

.content {
    img {
        width: var(--content-img-size);
        height: var(--content-img-size);
    }
}

.pointer {
    cursor: pointer;
}

@media (width >= 80em) { /* 1280px */
    .container {
        --max-width: 80rem;
    }

    .desktop-only {
        display: initial;
    }

    /* make side by side on desktop */
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}
